*.bak
*.class
*.d
*.o
*.log
*~
*.hprof
backup*
build/*
exHdr/*
runtime/*
test/*
.prjInfo
unused*
bin*
.gradle/
.idea/
.kotlin/

**/build
/kotlin-js-store/yarn.lock
/bazel-bin
/bazel-ktcnc
/bazel-out
/bazel-testlogs
/MODULE.bazel.lock
